<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">

    <button type="button" mat-button (click)="toggleDrawer(drawer)">
      <mat-icon>arrow_back</mat-icon>
    </button>

    <nav>
      <ul>
        <li>
          <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
        </li>
        <li>
          <a routerLink="/debit" routerLinkActive="active">Tarjetas Débito</a>
        </li>
        <li>
          <a routerLink="/credit" routerLinkActive="active">Tarjetas Crédito</a>
        </li>
        <li>
          <a routerLink="/loan" routerLinkActive="active">Préstamos</a>
        </li>
        <li>
          <a routerLink="/pay" routerLinkActive="active">Pagos</a>
        </li>
      </ul>
    </nav>

  </mat-drawer>

  @if (!isExpanded) {
    <button class="outer-menu-button" type="button" mat-button (click)="toggleDrawer(drawer)">
      <mat-icon>menu</mat-icon>
    </button>
  }

  <button class="logout" type="button" mat-button (click)="logout()">
    <mat-icon>exit_to_app</mat-icon>
  </button>

  <div class="main-content">
    <router-outlet></router-outlet>

  </div>

  <app-footer></app-footer>

</mat-drawer-container>
